<div class="tagline">
	<h1>When you need care at your doorstep</h1>
	<p> Book a registered nurse at a moment's notice.</p>
	<p>Find a professional from the comfort of your own home.</p>
</div>

<div class="signups">	
	<div class="signup">
		<p>I'm looking for care for myself or someone I know.</p>
	</div>
	<div class="signup">
		<p>I'm a registered nurse able to travel to patients.</p>
	</div>
</div>
