<div class="nurse_view">
	<h1>Registered Nurses located within 5 miles of your home address:</h1>
		<% for nurse in @local_nurses do %>
			<div class="nurse_display">
				<div class="nurse_display_avatar">
					<% if nurse.avatar.url.length != 0 %>
						<%= image_tag nurse.avatar.url(:medium) %>
					<% else %>
						<img src="default_avatar_female.jpg">
					<% end %>
				</div>
				<div class="nurse_display_fname" %>
					<%= nurse.fname %>
				</div>
				<div class="nurse_display_email">
					<%= nurse.email %>
				</div>
			</div>
		<% end %>
</div>
