/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
	margin: 0;
	margin-top: 0;
}

body{
	margin: 0;
	margin-top: -20px;
	font-family: 'Molengo';
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("Registered-Nurse3.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
}

header{
	height: 90px;
	background-color: #3BE3FF;
	margin-top: 0;
}

.logo a{
	margin-right: 0px;
	margin-left: 600px;
	font-family: 'Molengo';
	margin-top: 18px;
	position: absolute;
	font-size: 1.8em;
	color: white;
	text-decoration: none;
	padding-top: 0;
}

.nav_button a{
	display: inline-block;
	float: right;
	margin-right: 3em;
	margin-top: 20px;
	font-size: 1em;
	height: 40px;
	width: 100px;
	font-family: 'Molengo';
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: center;
	color: white;
	background-color: #3BE3FF;
	border: 1px solid white;
	font-size: 1.5em;
	text-decoration: none;
	border-radius: 5px;
}

.nav_button a:hover {
	border-color:black;
}

footer{
	height: 280px;
	background-color: #3BE3FF;
	font-family: 'Molengo';
	padding-top: 10px;
	padding-left: 40px;
	margin-top: 0px;
	color: white;
}

footer div p a{
	text-decoration: none;
	color: black;
}

footer div p a:hover{
	text-decoration: underline;
}

.signup_form_container{
	margin-left: 250px;
	margin-bottom: 50px;
	background-color: white;
	margin-top: 150px;
	width: 925px;
	border-radius: 5px;
}

.signup_form{
	border-radius: 10px;
	text-align: center;
	width: 925;
	background-color: white;
	padding: 5px;
}

.sign_in_form_container{
	margin-left: 250px;
	margin-bottom: 50px;
	background-color: white;
	margin-top: 150px;
	width: 925px;
	border-radius: 5px;
}

.sign_in_form{
	border-radius: 10px;
	text-align: center;
	width: 925;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 45px;

}

.edit_form_container{
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.edit_form{
	border-radius: 10px;
	text-align: center;
	width: 925;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 45px;
}

.form_field{
	width: 800px;
	height: 40px;
	font-size: 1em;
	text-align: center;
	border: 1px solid black;
}

.submit_button{
	width: 800px;
	height: 60px;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	font-size: 1em;
}

.submit_button:hover{
	background-color: #3BE3FF;
	border: none;
}

.tagline{
	margin-top: 250px;
	font-size: 2em;
	text-align: center;
	color: white;
}

.signups{
	height: 80px;
	width: 650px;
	margin-left: 410px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.signup a{
	height: 90px;
	width: 260px;
	font-family: 'Molengo';
	background-color: black;
	font-size: 1.25em;
	display: inline;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 2em;
	border-radius: 3px;
	color: white;
	text-decoration: none;
}

.nurse_view{
	height: 100%;
	width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 25px;
}


.nurse_display{
	height: 400px;
	width: 350px;
	background-color: white;
	display: inline-block;
	border: 1px solid black;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nurse_display_avatar{
	border: 1px solid black;

}

.nurse_display_fname{
	border: 1px solid black;

}

.nurse_display_email{
	border: 1px solid black;
	
}

