/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
	margin: 0;
	margin-top: 0;
}

body{
	margin: 0;
	margin-top: 0;
	font-family: 'Molengo';
	background-image: url("Registered-Nurse3.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 600px;
}

header{
	height: 90px;
	background-color: #3BE3FF;
	// background-color: #66C7D9;
}

.logo{
	margin-right: 0px;
	margin-left: 600px;
	font-family: 'Molengo';
	margin-top: -20px;
	position: absolute;
	font-size: 1.8em;
	color: white;
}

.nav_button a{
	display: inline-block;
	float: right;
	margin-right: 3em;
	margin-top: 20px;
	font-size: 1em;
	height: 40px;
	width: 100px;
	font-family: 'Molengo';
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #3BE3FF;
	border: 1px solid white;
	font-size: 1.5em;
	text-decoration: none;
	border-radius: 5px;
}

.nav_button a:hover {
border-color:black;
}

footer{
	height: 280px;
	background-color: #3BE3FF;
	font-family: 'Molengo';
	padding-top: 10px;
	padding-left: 40px;
	margin-top: 0px;
	color: white;
}

footer ul li{
	list-style-type: none;
}

.signup_form{
/*	border: 1px solid black;
*/	margin-left: 600px;
margin-bottom: 50px;
}

.sign_in_form{
/*	border: 1px solid black;
*/	margin-left: 600px;
margin-bottom: 50px;
}

.tagline{
	margin-top: 250px;
	font-size: 2em;
	text-align: center;
	color: white;
	// -webkit-text-stroke: 1px #D2D2D2;
}

.signups{
	height: 100px;
	width: 625px;
	// background-color: white;
	margin-left: 410px;
	margin-bottom: 40px;
	margin-top: 50px;
	// border: 1px solid black;
}

.signup{
	height: 100px;
	width: 250px;
	font-family: 'Molengo';
	background-color: black;
	font-size: 1.25em;
	display: inline;
	border: 1px solid black;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-radius: 5px;
	color: white;
}

.signup:hover {
	// color: #3BE3FF;
 //  border-color: white;
}
