/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
	margin: 0;
	margin-top: 0;
}

body{
	margin: 0;
	margin-top: 0;
	font-family: 'Molengo';
	background-image: url("Registered-Nurse.jpg");
	background-size: 100%;
	height: 600px;
}

header{
	height: 100px;
	background-color: #72E88C;
}

nav{
}

nav span{
	margin-top: 45px;
	margin-left: 20px;
}

nav div {
	display: inline-block;
	float: right;
	margin-right: 3em;
	margin-top: 20px;
	font-size: 1em;
	border: 1px solid black;
	height: 40px;
	width: 100px;
	font-family: 'Molengo';
	padding-left: 35px;
	padding-bottom: 0px;
	text-decoration: none;
	font-size: 1.5em;
}

.nav_button{
	text-decoration: none;
	background-color: white;
}

footer{
	height: 280px;
	background-color: #FFF36A;
	font-family: 'Molengo';
	padding-top: 10px;
	padding-left: 40px;
	margin-top: 500px;
}

footer ul li{
	list-style-type: none;
}

.signup_form{
/*	border: 1px solid black;
*/	margin-left: 600px;
margin-bottom: 50px;
}

.sign_in_form{
/*	border: 1px solid black;
*/	margin-left: 600px;
margin-bottom: 50px;
}
